{% extends 'layout/default.html' %}
{% block content %}

    <!--index...-->
    <h1>LED Controllers</h1>

	<button data-color="red" class="turn-on">Turn On Red</button>
	<button data-color="red" class="turn-off">Turn Off Red</button>

	<button data-color="yellow" class="turn-on">Turn On Yellow</button>
	<button data-color="yellow" class="turn-off">Turn Off Yellow</button>

	<button data-color="green" class="turn-on">Turn On Green</button>
	<button data-color="green" class="turn-off">Turn Off Green</button>


{% endblock %}
